.slider{
    display: flex;
    align-items: center;
    margin: 20px;
}
.slider_image{
    width: 60%;
}
.slider_content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.slide_title{
    text-align: center;
}